{
  "parser"  : "babel-eslint",
  "extends" : ["react-app", "plugin:flowtype/recommended"],
  "env"     : {
    "browser" : true,
    "node": true,
    "jest": true
  },
  "settings": {
    "ecmascript": 6,
    "jsx": true
  },
  "plugins": [
    "react",
    "flowtype"
  ],
  "globals" : {
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false,
    "__DEBUG_NEW_WINDOW__" : false,
    "__BASENAME__" : false,
    "__AUTH_SERVER__" : false,
    "__API_SERVER__": false,
    "__GA_TRACKING_ID__": false
  }
}
