{
  "extends": [
    "react-app",
    "react-app/jest",
    "plugin:cypress/recommended",
    "prettier",
    "plugin:jest-dom/recommended"
  ],
  "plugins": ["prettier", "jest-dom"],
  "rules": {
    "import/exports-last": ["error"],
    "prettier/prettier": ["error"]
  }
}
