.DS_STORE
*.log

node_modules

dist
coverage
clientConfig.js
client/
.env.development.local
build/
static-server
.env.production.local
nightwatch/reports
nightwatch/snapshots
.vscode
cypress/integration/examples
