@import "core";

.panel-dsc {
  margin: 15px auto;
  padding: 15px;
  border-radius: 10px;
  width: 100%;
}

// theme colors that are being used throughout dsc
.panel-green {
  background-color: #DFF0d8;
  border: 1px solid #DFF0d8;
}
.panel-blue {
  background-color: #EFF8FB;
  border: 1px solid #EFF8FB;
}
.panel-gray {
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2;
}

.dicty-header {
  font-size: 62px;
  margin-top: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #eee;
}

.homepage-header {
  font-size: 48px;
  margin-top: 0px;
  margin-bottom: 25px;
  border-bottom: 1px solid #eee;
}

// styles for front page links
.link-list ul,
.link-list li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.link-list a {
  font-size: 18px;
}

// shopping cart items
.cart-item-name {
  font-size: 18px;
  font-weight: bold;
}
.cart-item-id {
  font-size: 12px;
  color: #808080;
}

// stocks catalog
.item-available {
  color: #04B404;
}
.item-unavailable {
  color: #D8D8D8;
}

.stock-detail-row {
  flex-direction: row;
}

.stock-detail-row.single > .stock-detail-item:nth-child(1) > div:nth-child(1) {
  width: calc(33.333% / 2) !important;
}

@media screen and (max-width: 1290px) {
  .stock-detail-row {
    flex-direction: column !important;
    min-height: 90px;
  }
  .stock-detail-item div + div {
      border-right: none !important;
  }
  .stock-detail-row.single {
    height: 45px;
    display: inline !important;
  }
  .stock-detail-row.single > .stock-detail-item:nth-child(2) {
    display: none !important;
  }
  .stock-detail-row.single > .stock-detail-item:nth-child(1) > div:nth-child(1) {
    width: 33.333% !important;
  }
  .stock-detail-row > .stock-detail-item > div {
    height: initial !important;
  }

}
