@import "core";

.stock-detail-row {
  flex-direction: row;
}

.stock-detail-row.single > .stock-detail-item:nth-child(1) > div:nth-child(1) {
  width: calc(33.333% / 2) !important;
}

@media screen and (max-width: 1290px) {
  .stock-detail-row {
    flex-direction: column !important;
    min-height: 90px;
  }
  .stock-detail-item div + div {
      border-right: none !important;
  }
  .stock-detail-row.single {
    height: 45px;
    display: inline !important;
  }
  .stock-detail-row.single > .stock-detail-item:nth-child(2) {
    display: none !important;
  }
  .stock-detail-row.single > .stock-detail-item:nth-child(1) > div:nth-child(1) {
    width: 33.333% !important;
  }
  .stock-detail-row > .stock-detail-item > div {
    height: initial !important;
  }

}
